# Dependencies
node_modules/


# Build output
dist/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

cloud/*/node_modules/

.fun/
# Playwright
src/*/test-results/
src/*/playwright.config.ts
src/*/e2e/
src/*/dist
src/*/pnpm-lock.yaml
src/*/yarn.lock
# Vite build cache
src/**/node_modules



